<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        section {
            width:35%;
            margin: auto;
        }
        .btn-write {
            float: right;
            margin-bottom: 20px;
        }
        .page-nav {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:text="|반가워요 ${member.username}|"></li>
                <form th:action="@{/logout}" method="post">
                    <button class="w-100 btn btn-dark btn-lg"
                            onclick="location.href='items.html'" type="submit">
                        로그아웃
                    </button>
                </form>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<section>
    <button type="button" onclick="location.href='posting'" class="btn btn-primary btn-write">글 등록</button>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>#</td>
            <td>test1</td>
            <td>tester1</td>
            <td>2022.01.01</td>
        </tr>
        <tr>
            <td>#</td>
            <td>test2</td>
            <td>tester2</td>
            <td>2022.01.01</td>
        </tr>
        <tr th:each="post : ${postList}">
            <td><a th:href="@{|/postings/${post.id}|}" th:text="${post.id}"></a></td>
            <td><a th:href="@{|/postings/${post.id}|}" th:text="${post.title}"></a></td>
            <td th:text="${member.username}">tester2</td>
            <td th:text="${post.localDateTime}">2022.01.01</td>
        </tr>
        </tbody>
    </table>
</section>
<div class="pagination">
    <span th:each="pageNum : ${pageList}" th:inline="text">
        <a th:href="@{'/postings?page=' + ${pageNum}}">[[${pageNum}]] </a>
    </span>
</div>
<nav class="page-nav">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li th:each="pageNum : ${pageList}">
            <a href="#" th:href="@{'/postings?page=' + ${pageNum}}" th:text="${pageNum}">페이지</a>
        </li>
<!--        <li><a href="#">2</a></li>-->
<!--        <li><a href="#">3</a></li>-->
<!--        <li><a href="#">4</a></li>-->
<!--        <li><a href="#">5</a></li>-->
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>